@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

[data-theme="dark"] {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html, body, * {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}